# Ignore list for KiCAD Files and Projects.

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)


# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

#Reports
*.html
/PCIE x1 to MXM 3.1 Riser Basic \[Altium\]/History
/PCIE x16 to MXM 3.1 Riser Mini \[Altium\]/PCIE to MXM Riser Mini/History
